/.venv
student_testing/tests/config_pass.py
student_testing/tests/send_email_test.py
student_testing/tests/__pycache__
student_testing/student_testing/__pycache__
student_testing/tests/migrations
student_testing/db.sqlite3
student_testing/student_testing/__pycache__/__init__.cpython-312.pyc
student_testing/student_testing/__pycache__/settings.cpython-312.pyc
student_testing/student_testing/__pycache__/urls.cpython-312.pyc
student_testing/student_testing/__pycache__/wsgi.cpython-312.pyc
student_testing/student_testing/__pycache__/__init__.cpython-312.pyc
student_testing/student_testing/__pycache__/settings.cpython-312.pyc
student_testing/student_testing/__pycache__/urls.cpython-312.pyc
student_testing/student_testing/__pycache__/wsgi.cpython-312.pyc
student_testing/tests/__pycache__/__init__.cpython-312.pyc
student_testing/tests/__pycache__/admin.cpython-312.pyc
student_testing/tests/__pycache__/apps.cpython-312.pyc
student_testing/tests/__pycache__/config_pass.cpython-312.pyc
student_testing/tests/__pycache__/CONFIGS_APP.cpython-312.pyc
student_testing/tests/__pycache__/forms.cpython-312.pyc
student_testing/tests/__pycache__/models.cpython-312.pyc
student_testing/tests/__pycache__/quest_hesh_create.cpython-312.pyc
student_testing/tests/__pycache__/urls.cpython-312.pyc
student_testing/tests/__pycache__/views.cpython-312.pyc
student_testing/tests/migrations/__pycache__/__init__.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0001_initial.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0002_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0003_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0004_question_klass_destination_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0005_test_klass_destination_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0006_question_theme_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0007_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0008_studentresponse_right_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0009_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0010_test_repeated_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0011_question_topics_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0012_remove_question_theme_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0013_alter_question_correct_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0014_alter_question_correct_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0015_alter_question_correct_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0016_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0017_question_title_alter_question_correct_answer_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0018_question_file_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0019_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0020_remove_question_title_alter_question_file_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0021_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0022_alter_question_text_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0023_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0024_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0025_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0026_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0027_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0028_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0029_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0030_test_tmp_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0031_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0032_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0033_alter_question_time_create_question_and_more.cpython-312.pyc
student_testing/tests/migrations/__pycache__/0034_test_only_one_answer_and_more.cpython-312.pyc
student_testing/student_testing/__pycache__/__init__.cpython-312.pyc
student_testing/student_testing/__pycache__/settings.cpython-312.pyc
student_testing/student_testing/__pycache__/urls.cpython-312.pyc
student_testing/student_testing/__pycache__/wsgi.cpython-312.pyc
student_testing/db.sqlite3
student_testing/tests/__pycache__/views.cpython-312.pyc
