{% extends 'tests/base.html' %}

{% block title %}Результаты тестирования{% endblock %}

{% block content %}

<h3>Список тестовых заданий</h3>
<table id="table_total">
    <thead>
        <th>Название</th>
        <th>Статус</th>
    </thead>
    <tbody>
        {% for key, test in data.items %}
        <tr>
            <td>
                {% if test.0.repeated_answer and not test.1 %}
                <a href="{% url 'take_test' test.0.id %}">{{ test.0.title }}</a>
            </td>
            <td align="center" class="b_green">
                Открыт
                {% else %}
                {{ test.0.title }}
            </td>
            <td align="center" class="b_red">
                Закрыт
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}